
html,
body {
  margin: 0;
  padding: 0;
}

*, :after, :before {
  box-sizing: border-box;
}

body {
  background: #eee;
}

.dnds-context {
  width: 50vw;
  height: 50vh;
  margin: 10vh auto 0;
}

.targe-text {
  margin: 0;
  padding: 0;
  width: 100px;
  height: 60px;
  background: #fff;
}
